h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 2.5em;
}

form {
  padding-left: 40px;
}

.centerbtn {
  text-align: center;
}


.btnn {
  width: 90px;
}
.main {
  font-family: 'Slabo 27px', serif;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.main-header {
  text-align: center;
}
.main-body {
  padding-top: 40px;
}
.pad-btm {
  padding-bottom: 30px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
